* {
    font-weight: 100;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #025240;
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    text-align: center;
}
  
#titre {
    font-weight: 300;
    font-size: 50px;
}

#meteo {
    font-weight: 100;
    font-size: 25px;
    margin: 10px;
}

#long, #lat {
    font-weight: 100;
    font-size: 15px;
}
img {
    width: 80px;
    height: 80px;
}
#boutonMeteo {
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 24px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
  
#credit {
    font-size: 20px;
    position: fixed;
    bottom: 1px;
    left: 1px;
}